fastapi
uvicorn[standard]
starlette
python-multipart
python-dotenv
langchain
langchain-community
langchain-openai
langchain-text-splitters
langchain-core
openai
pydantic
pgvector
psycopg2-binary
ragas
datasets
boto3
botocore